.box {
  background-color: #ff8263;
  margin: 8px;
  border: 3px solid green;
}
.newTodo {
  /*Empty class for me being lazy*/
}
.todos {
  background-color: #ff3148;
  border: 2px solid blue;
}

.box2 {
  background-color: #ff0063;
  margin: 8px;
  border: 3px solid green;
}
.todoApp {
  list-style-type: none;
}
.done {
  text-decoration: line-through;
}

#netmon2 {
  align-self: stretch;
}
